# Isbndb
ISBNDB_APIKEY=<API_KEY>
ISBNDB_APIURL=https://api2.isbndb.com/
ISBNDB_MAXBULKISBNS=100

# Google Books
GOOGLEBOOKS_APIKEY=<API_KEY>
GOOGLEBOOKS_APIURL=https://www.googleapis.com/books/v1/

# PostgreSQL
POSTGRES_USERNAME=<YOUR_USERNAME>
POSTGRES_PASSWORD=<YOUR_PASSWORD>
POSTGRES_DATABASE=<YOUR_DB>

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=<YOUR_PASSWORD>

# Grafana
GRAFANA_PASSWORD=secret
