.book-title {
    font-family: 'Poppins', 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    color: #9152e7;
}

.book-meta p {
    margin-bottom: 0.4rem;
    font-size: 1rem;
}

.book-details-container {
    max-width: 1000px;
}

.synopsis {
    line-height: 1.5;
}

.synopsis-title {
    font-family: 'Poppins', 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: #9152e7;
}

.synopsis-text {
    white-space: pre-line;
    font-size: 0.9rem;
}

.btn-link {
    font-size: 0.9rem;
}

.book-cover {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    column-gap: 2rem;
}

@media (min-width: 640px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.book-info {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
}

.book-info .icon {
    font-size: 1.25rem;
    color: #64748b;
    margin-top: 0.125rem;
}

.label {
    color: #64748b;
    font-size: 0.9rem;
}

.value {
    color: #0f172a;
    font-weight: 500;
}

@media (max-width: 768px) {
    .book-title {
        font-size: 1.75rem;
    }

    .book-cover {
        max-height: 550px;
        object-fit: contain;
    }
    
    .book-grid{
        row-gap: 1rem;
        column-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (hover: hover) {
    .book-cover:hover {
        transform: scale(1.02);
        box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
    }
}