@page "/"
@inject IJSRuntime Js
@inject NavigationManager Nav
@inject BookApiClient BooksApi
@inject BookState BookState
@implements IDisposable

<div class="container mt-4">
    <h1 class="display-6 text-center mb-3">ISBN Scanner</h1>

    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <!-- Video stream -->
            <div id="video-container" class="shadow-sm">
                <video id="video" autoplay playsinline></video>
            </div>

            <p class="text-muted mt-2">Scan the barcode on your book:</p>
            
            <div class="input-group mb-4 isbn-input-group @(HasScanned ? "scanned" : "")">
                <!-- Reset-knap til venstre -->
                <button class="btn btn-secondary btn-lg"
                        type="button"
                        @onclick="ResetScan"
                        disabled="@string.IsNullOrWhiteSpace(_scannedIsbn)">
                    <i class="bi bi-trash3"></i>
                </button>

                <input disabled @bind="_scannedIsbn"
                       class="form-control text-center fs-2 py-1"
                       placeholder="Scan ISBN..." />

                <button class="btn btn-success btn-lg px-4"
                        @onclick="OnFindBookAsync"
                        disabled="@string.IsNullOrWhiteSpace(_scannedIsbn)">
                    <i class="bi bi-search"></i>
                </button>
            </div>

        </div>
    </div>
</div>

@code {
    private string? _scannedIsbn;
    private bool HasScanned => !string.IsNullOrWhiteSpace(_scannedIsbn);
    private BookDto? _bookDto;
    private DotNetObjectReference<Scanner>? _objRef;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _objRef = DotNetObjectReference.Create(this);
            await Js.InvokeVoidAsync("scanner.startContinuousScan", _objRef);
        }
    }

    [JSInvokable]
    public async Task OnIsbnScanned(string scannedIsbn)
    {
        _scannedIsbn = scannedIsbn;

        try
        {
            _bookDto = await BooksApi.GetAsync(scannedIsbn);

            if (_bookDto != null)
                BookState.SetBook(_bookDto);
        }
        catch
        {
            _bookDto = null;
            BookState.Clear();
        }

        StateHasChanged();
    }
    
    private async Task ResetScan()
    {
        _scannedIsbn = null;
        _bookDto = null;
        BookState.Clear();
        await Js.InvokeVoidAsync("scanner.resetLastIsbn");
    }
    
    private void OnFindBookAsync()
    {
        if (string.IsNullOrWhiteSpace(_scannedIsbn))
            return;

        Nav.NavigateTo($"/book/{_scannedIsbn}");
    }

    public void Dispose()
    {
        _ = Js.InvokeVoidAsync("scanner.stopContinuousScan");
        _objRef?.Dispose();
    }
}