{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://www.googleapis.com/"
    }
  ],
  "info": {
    "title": "Books API (trimmed)",
    "description": "Reduced Google Books API surface for Reveries: only the volumes (search + get) and series endpoints and the schemas they return.",
    "version": "v1",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/books/docs/v1/using"
  },
  "tags": [
    {
      "name": "volumes"
    },
    {
      "name": "series"
    }
  ],
  "paths": {
    "/books/v1/volumes": {
      "get": {
        "description": "Performs a book search. For ISBN lookup use q=isbn:9788700000000.",
        "operationId": "books.volumes.list",
        "parameters": [
          {
            "description": "Full-text search query string. Prefix qualifiers: isbn:, intitle:, inauthor:, inpublisher:, subject:.",
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Restrict results to books with this language code (ISO 639-1).",
            "in": "query",
            "name": "langRestrict",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of results to return (0-40).",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "maximum": 40,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Sort search results.",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "enum": [
                "newest",
                "relevance"
              ],
              "type": "string"
            }
          },
          {
            "description": "Restrict to books or magazines.",
            "in": "query",
            "name": "printType",
            "schema": {
              "enum": [
                "ALL",
                "BOOKS",
                "MAGAZINES"
              ],
              "type": "string"
            }
          },
          {
            "description": "Restrict information returned to a set of selected fields.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "FULL",
                "LITE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Index of the first result to return (starts at 0).",
            "in": "query",
            "name": "startIndex",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volumes"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "tags": [
          "volumes"
        ]
      }
    },
    "/books/v1/volumes/{volumeId}": {
      "get": {
        "description": "Gets volume information for a single volume.",
        "operationId": "books.volumes.get",
        "parameters": [
          {
            "description": "ID of volume to retrieve.",
            "in": "path",
            "name": "volumeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO-3166-1 code to override the IP-based location.",
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Restrict information returned to a set of selected fields.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "FULL",
                "LITE"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volume"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "tags": [
          "volumes"
        ]
      }
    },
    "/books/v1/series/get": {
      "get": {
        "description": "Returns Series metadata for the given series ids.",
        "operationId": "books.series.get",
        "parameters": [
          {
            "description": "String that identifies the series.",
            "explode": true,
            "in": "query",
            "name": "series_id",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Series"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "tags": [
          "series"
        ]
      }
    },
    "/books/v1/series/membership/get": {
      "get": {
        "description": "Returns Series membership data given the series id.",
        "operationId": "books.series.membership.get",
        "parameters": [
          {
            "description": "String that identifies the series.",
            "in": "query",
            "name": "series_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of maximum results per page to be included in the response.",
            "in": "query",
            "name": "page_size",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The value of the nextToken from the previous page.",
            "in": "query",
            "name": "page_token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Seriesmembership"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "tags": [
          "series"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Volumes": {
        "properties": {
          "items": {
            "description": "A list of volumes.",
            "items": {
              "$ref": "#/components/schemas/Volume"
            },
            "type": "array"
          },
          "kind": {
            "description": "Resource type.",
            "type": "string"
          },
          "totalItems": {
            "description": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Volume": {
        "properties": {
          "kind": {
            "description": "Resource type for a volume. (In LITE projection.)",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for a volume. (In LITE projection.)",
            "type": "string"
          },
          "etag": {
            "description": "Opaque identifier for a specific version of a volume resource. (In LITE projection)",
            "type": "string"
          },
          "selfLink": {
            "description": "URL to this resource. (In LITE projection.)",
            "type": "string"
          },
          "searchInfo": {
            "description": "Search result information related to this volume.",
            "properties": {
              "textSnippet": {
                "description": "A text snippet containing the search query.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "volumeInfo": {
            "description": "General volume information.",
            "properties": {
              "allowAnonLogging": {
                "description": "Whether anonymous logging should be allowed.",
                "type": "boolean"
              },
              "authors": {
                "description": "The names of the authors and/or editors for this volume. (In LITE projection)",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "averageRating": {
                "description": "The mean review rating for this volume. (min = 1.0, max = 5.0)",
                "format": "double",
                "type": "number"
              },
              "canonicalVolumeLink": {
                "description": "Canonical URL for a volume. (In LITE projection.)",
                "type": "string"
              },
              "categories": {
                "description": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "comicsContent": {
                "description": "Whether the volume has comics content.",
                "type": "boolean"
              },
              "contentVersion": {
                "description": "An identifier for the version of the volume content (text & images). (In LITE projection)",
                "type": "string"
              },
              "description": {
                "description": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)",
                "type": "string"
              },
              "dimensions": {
                "description": "Physical dimensions of this volume.",
                "properties": {
                  "height": {
                    "description": "Height or length of this volume (in cm).",
                    "type": "string"
                  },
                  "thickness": {
                    "description": "Thickness of this volume (in cm).",
                    "type": "string"
                  },
                  "width": {
                    "description": "Width of this volume (in cm).",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "imageLinks": {
                "description": "A list of image links for all the sizes that are available. (In LITE projection.)",
                "properties": {
                  "extraLarge": {
                    "description": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)",
                    "type": "string"
                  },
                  "large": {
                    "description": "Image link for large size (width of ~800 pixels). (In LITE projection)",
                    "type": "string"
                  },
                  "medium": {
                    "description": "Image link for medium size (width of ~575 pixels). (In LITE projection)",
                    "type": "string"
                  },
                  "small": {
                    "description": "Image link for small size (width of ~300 pixels). (In LITE projection)",
                    "type": "string"
                  },
                  "smallThumbnail": {
                    "description": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)",
                    "type": "string"
                  },
                  "thumbnail": {
                    "description": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "industryIdentifiers": {
                "description": "Industry standard identifiers for this volume.",
                "items": {
                  "properties": {
                    "identifier": {
                      "description": "Industry specific volume identifier.",
                      "type": "string"
                    },
                    "type": {
                      "description": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "infoLink": {
                "description": "URL to view information about this volume on the Google Books site. (In LITE projection)",
                "type": "string"
              },
              "language": {
                "description": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc.",
                "type": "string"
              },
              "mainCategory": {
                "description": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight.",
                "type": "string"
              },
              "maturityRating": {
                "type": "string"
              },
              "pageCount": {
                "description": "Total number of pages as per publisher metadata.",
                "format": "int32",
                "type": "integer"
              },
              "panelizationSummary": {
                "description": "A top-level summary of the panelization info in this volume.",
                "properties": {
                  "containsEpubBubbles": {
                    "type": "boolean"
                  },
                  "containsImageBubbles": {
                    "type": "boolean"
                  },
                  "epubBubbleVersion": {
                    "type": "string"
                  },
                  "imageBubbleVersion": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "previewLink": {
                "description": "URL to preview this volume on the Google Books site.",
                "type": "string"
              },
              "printType": {
                "description": "Type of publication of this volume. Possible values are BOOK or MAGAZINE.",
                "type": "string"
              },
              "printedPageCount": {
                "description": "Total number of printed pages in generated pdf representation.",
                "format": "int32",
                "type": "integer"
              },
              "publishedDate": {
                "description": "Date of publication. (In LITE projection.)",
                "type": "string"
              },
              "publisher": {
                "description": "Publisher of this volume. (In LITE projection.)",
                "type": "string"
              },
              "ratingsCount": {
                "description": "The number of review ratings for this volume.",
                "format": "int32",
                "type": "integer"
              },
              "readingModes": {
                "description": "The reading modes available for this volume.",
                "properties": {
                  "image": {
                    "type": "boolean"
                  },
                  "text": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              },
              "samplePageCount": {
                "description": "Total number of sample pages as per publisher metadata.",
                "format": "int32",
                "type": "integer"
              },
              "seriesInfo": {
                "$ref": "#/components/schemas/Volumeseriesinfo"
              },
              "subtitle": {
                "description": "Volume subtitle. (In LITE projection.)",
                "type": "string"
              },
              "title": {
                "description": "Volume title. (In LITE projection.)",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "Volumeseriesinfo": {
        "properties": {
          "bookDisplayNumber": {
            "description": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber.",
            "type": "string"
          },
          "kind": {
            "description": "Resource type.",
            "type": "string"
          },
          "shortSeriesBookTitle": {
            "description": "Short book title in the context of the series.",
            "type": "string"
          },
          "volumeSeries": {
            "items": {
              "properties": {
                "issue": {
                  "description": "List of issues. Applicable only for Collection Edition and Omnibus.",
                  "items": {
                    "properties": {
                      "issueDisplayNumber": {
                        "type": "string"
                      },
                      "issueOrderNumber": {
                        "format": "int32",
                        "type": "integer"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "orderNumber": {
                  "description": "The book order number in the series.",
                  "format": "int32",
                  "type": "integer"
                },
                "seriesBookType": {
                  "description": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc.",
                  "type": "string"
                },
                "seriesId": {
                  "description": "The series id.",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Series": {
        "properties": {
          "kind": {
            "description": "Resource type.",
            "type": "string"
          },
          "series": {
            "items": {
              "properties": {
                "bannerImageUrl": {
                  "type": "string"
                },
                "eligibleForSubscription": {
                  "type": "boolean"
                },
                "imageUrl": {
                  "type": "string"
                },
                "isComplete": {
                  "type": "boolean"
                },
                "seriesFormatType": {
                  "type": "string"
                },
                "seriesId": {
                  "type": "string"
                },
                "seriesType": {
                  "type": "string"
                },
                "subscriptionId": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Seriesmembership": {
        "properties": {
          "kind": {
            "description": "Resource type.",
            "type": "string"
          },
          "member": {
            "items": {
              "$ref": "#/components/schemas/Volume"
            },
            "type": "array"
          },
          "nextPageToken": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "ApiKey": {
        "description": "Google API key passed as the 'key' query parameter. Sufficient for public volume search and get.",
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}